# DVRK to LeRobot Converter - Python Dependencies
# Install with:  pip install -r requirements.txt
#
# Requires Python 3.10+

# GUI
PyQt5

# Data processing
numpy
pandas
opencv-python
Pillow
matplotlib
tyro
lerobot
huggingface-hub
PIL

# Video encoding/decoding
av


# Uncomment for lerobot v2.1 conversion
# lerobot==0.3.3
# huggingface-hub==0.34.4
